$black:         #101010;
$gray-dark:     #333;
$gray:          #666;
$gray-light:    #999;
$gray-lighter:  #d0d0d0;
$gray-lightest: #f0f0f0;
$white:         #fafafa;

$blue: #4d90fe;  // google blue
$red: #ea6753;  // e-medycyna.pl red
$orange: #e95c33;  // smashing orange
