$body-font-stack: 'Segoe UI Light', 'Helvetica Neue', 'Segoe UI', sans-serif;


%alpha {
  margin-bottom: .5em;
  font-size: 48px;
  font-weight: 100;
}

%beta{
  margin-bottom: .5em;
  font-size: 32px;
  font-weight: 100;
}