.users-index-item{
  padding: 10px;
  background: $white;
  @include box-shadow(0 2px 5px rgba(0,0,0,.1)); 

  @include inline-block;
  margin: 0 10px 10px 0;

  @for $i from 1 through 40{
    &:nth-child( #{$i} ){
      @include animate(fadeInLeft, .4s, $i * .07s);
    }
  }

  $avatarSize: 60px;
  .user-avatar-wrapper{
    width: $avatarSize;
    float: left;
    display: block;
    width: $avatarSize;
    height: $avatarSize;
    overflow: hidden;
    img{

    }
  }


  .user-avatar-placeholder{
    width: $avatarSize;
    height: $avatarSize;
    text-align: center;
    line-height: $avatarSize;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    background-color: $gray-lighter;
    color: $gray;
  }

  .user-desc{
    margin-left: $avatarSize + 10px;
    line-height: $avatarSize;

    a{
      text-decoration: none;
      color: $gray;
      font-size: 24px;
    }
  }


  .user-tools{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }


  %overlay-btn{
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    background-color: $red;
    color: $white;
    border:none;
    width: 32px;
    opacity: 0;
    visibility: hidden;
    // text-align: center;
    
    @include transition(.2s);
    cursor: pointer;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top:-8px;
      margin-left:-8px;
    }
  }




  .user-remove-btn{
    @extend %overlay-btn;
  }

  .user-edit-btn{
    @extend %overlay-btn;
    background-color: $black;
    left: 32px;
    text-decoration: none;
  }
  
  .user-show-btn{
    @extend %overlay-btn;
    background-color: $black;
    left: auto;
    right: 0;
    text-decoration: none;
    &:hover{
      width: 50px;
    }
  }

  &:hover{
    %overlay-btn{
      // display: block;
      visibility: visible;
      opacity: .8;
      

      // placed here because of the specificity
      &:hover{
        @include transition(.1s);
        opacity: 1;
      }
    }
  }
}
