.users-index-page{
  @include user-select(none);
  @extend %subpage-container;
  .users-index-title{
    @extend %alpha;
    color: $white;
    margin-bottom: .5em;
  }
  
  @import "index-item"; // inline import will preserve scope
  @import "index-empty"; // inline import will preserve scope

  .users-index-list{
    display:inline;

  }

  .users-index-add-btn{
    text-decoration: none;
    cursor: pointer;
    color: $white;
    font-size: 32px;
    padding: 10px;

    @include animate(fadeIn, .9s, 1s);
    &:hover{
      background-color: transparentize($white, .9);
    }
  }




}
